.col-md-25,.col-md-33,.col-md-50,.container{width:100%}.hide-show{display:block!important}.col-xs-50{width:50%}.col-xs-33{width:33.33333%}.col-xs-25{width:25%}


@media (min-width: 320px) and (max-width: 639px){
	.container{
		left: 0;
		margin-left: 0;
		padding: 0 10px;
	}

	.line{
		width: 100%;
		left: 0;
		margin-left: 0;
	}

	#content{
		margin-top: 150px;
	}

	.ninja{
		padding: 10px;
	}

	.ninja-left{
		width: 100%;
		border-right: 0;
		border-bottom: 2px solid #1a416a;
		padding-bottom: 20px;
		margin-bottom: 20px;
		text-align: center;
	}

	.ninja-left img{
		float: none;
	}

	.ninja-left .ninja-left-info{
		float: left;
		display: inline;
		padding: 10px 0 0;
	}

	footer{
		padding: 20px 0;
	}

	.footer-top-social{
		width: 100%;
		text-align: center;
		padding-left: 0;
		background: url(../images/line-organe.png) center bottom no-repeat;
		padding-bottom: 20px;
		padding-top: 0;
	}

	.footer-top-social a{
		float: none;
	}

	.footer-top-signup{
		margin-top: 30px;
		border-left: 0;
		border-right: 0;
		width: 100%;
		padding: 0;
	}

	.footer-top-info{
		padding: 0;
		width: 100%;
		margin-top: 30px;
	}

	.footer-bottom{
		margin-top: 30px;
	}

	.custom-navigation a {
		display: none;
	}
}





@media (min-width: 320px) and (max-width: 479px){
	.slogan{
		width: 100%;
		padding: 0 10px;
		text-align: center;
		left: 0;
	}

	.ninja-right{
		position: relative;
		left: 50%;
		margin-left: -140px;
	}

	.footer-top-info-left{
		width: 100%;
		padding-right: 0;
	}

	.footer-top-info-right{
		width: 100%;
		padding-left: 0;
		margin-top: 20px;
	}
}





@media (min-width: 480px) and (max-width: 639px){
	.ninja-right{
		width: 100%;
		padding: 0 0 0 50px;
	}
}