.col-md-25,.col-md-33,.col-md-50,.container{width:100%}.hide-show{display:block!important}.col-sm-50{width:50%}.col-sm-33{width:33.33333%}.col-sm-25{width:25%}


@media (min-width: 640px) and (max-width: 1023px){
	.container{
		left: 0;
		margin-left: 0;
		padding: 0 20px;
	}

	.ninja-left{
		width: 58%;
		margin-right: 2%;
	}

	.ninja-left img{
		margin-right: 10px;
	}

	.ninja-left .ninja-left-info{
		padding: 0 20px 0 0;
	}

	.ninja-right{
		width: 40%;
		padding: 0 0 0 40px;
	}

	footer{
		padding: 20px 0;
	}

	.footer-top-social{
		width: 100%;
		text-align: center;
		padding-left: 0;
		background: url(../images/line-organe.png) center bottom no-repeat;
		padding-bottom: 20px;
		padding-top: 0;
	}

	.footer-top-social a{
		float: none;
		min-width: 56px;
		display: inline-block;
	}

	.footer-top-signup{
		margin-top: 30px;
		border-left: 0;
		border-right: 0;
		padding: 0 30px 0 0;
		width: 50%;
	}

	.footer-top-info{
		width: 50%;
		margin-top: 30px;
		border-left: 2px solid #f7941e;
	}

	.footer-top-info-left{
		width: 100%;
		padding-right: 0;
	}

	.footer-top-info-right{
		width: 100%;
		padding-left: 0;
		margin-top: 15px;
	}

	.footer-bottom{
		margin-top: 30px;
	}

	.custom-navigation a {
		display: none;
	}
}
