/* ================ reset ================== */
@charset "utf-8";*,button:focus{outline:0}a,a:hover{text-decoration:none}*,body,html{margin:0;padding:0}*{box-sizing:border-box;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;-moz-text-size-adjust:none;text-size-adjust:none}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box}:after,:before{box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit}pre{width:500px;white-space:pre-wrap;white-space:-moz-pre-wrap!important;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word}ol,ul{list-style:none}table{border-collapse:separate}input[type=password],input[type=submit],input[type=text],select,textarea{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;-webkit-appearance:none;-moz-appearance:none}textarea{resize:none}fieldset{border:0}

/* ================ fonts ================== */

@font-face {
	font-family: 'PalameciaTitling-Regular';
	src: url('../fonts/PalameciaTitling-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/PalameciaTitling-Regular.woff') format('woff'), url('../fonts/PalameciaTitling-Regular.ttf')  format('truetype'), url('../fonts/PalameciaTitling-Regular.svg#PalameciaTitling-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WorkSans-Bold';
	src: url('../fonts/WorkSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/WorkSans-Bold.woff') format('woff'), url('../fonts/WorkSans-Bold.ttf')  format('truetype'), url('../fonts/WorkSans-Bold.svg#WorkSans-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WorkSans-Black';
	src: url('../fonts/WorkSans-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/WorkSans-Black.woff') format('woff'), url('../fonts/WorkSans-Black.ttf')  format('truetype'), url('../fonts/WorkSans-Black.svg#WorkSans-Black') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WorkSans-Medium';
	src: url('../fonts/WorkSans-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/WorkSans-Medium.woff') format('woff'), url('../fonts/WorkSans-Medium.ttf')  format('truetype'), url('../fonts/WorkSans-Medium.svg#WorkSans-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WorkSans-Light';
	src: url('../fonts/WorkSans-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/WorkSans-Light.woff') format('woff'), url('../fonts/WorkSans-Light.ttf')  format('truetype'), url('../fonts/WorkSans-Light.svg#WorkSans-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}



/* ================ set up ================== */
html, body{
	font-size: 14px;
	font-family: 'WorkSans-Medium';
}

.txt_center{
	text-align: center;
}

.img-responsive {
	display: inline;
	max-width: 100%;
	height: auto;
}

.overLock{
	overflow: visible !important;
	width: auto;   
}

.overLock body{
	/*position: fixed;*/
	overflow: hidden !important;
	left: 0;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	width: 100%;
}

.hide-show{
	display: none !important;
}

.img{
	float: left;
	display: inline;
	line-height: 0;
	position: relative;
}

footer,header,section,#main,#content{
	float: left;
	display: inline;
	width: 100%;
}

.container{
	float: left;
	display: inline;
	position: relative;
	left: 50%;
	width: 970px;
	margin-left: -485px;
}

.overLock .container{
	margin-left: -508px;
}

.col-md-50{
	float: left;
	display: inline;
	width: 50%;
}

.col-md-33{
	float: left;
	display: inline;
	width: 33.33333%;
}

.col-md-25{
	float: left;
	display: inline;
	width: 25%;
}

.animation{
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

/* ================ header ================== */
						
#main{
	background: #1a416a url(../images/bg-head.jpg) center 0 no-repeat;
}

.logo{
	float: left;
	display: inline;
	margin-top: 30px;
	position: relative;
	left: 50%;
	margin-left: -63px;
}

.logo a{
	display: block;
	line-height: 0;
}

.line{
	float: left;
	display: inline;
	width: 530px;
	height: 4px;
	left: 50%;
	margin-left: -265px;
	position: relative;
	clear: both;
}

.line.blue{
	margin-top: 15px;
	background: url(../images/line-blue.png) center 0 no-repeat;
}

.slogan{
	float: left;
	display: inline;
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

/* ================ container ================== */

#content{
	margin-top: 190px;
}

.description{
	float: left;
	display: inline;
	width: 100%;
	color: #44a4bc;
	font-family: 'WorkSans-Bold';
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
}

.our-slider{
	float: left;
	display: inline;
	width: 100%;
}

.title{
	float: left;
	display: inline;
	width: 100%;
	margin-top: 60px;
	background: url(../images/bg-line-title.png) center 0 no-repeat;
}

.title p{
	float: left;
	display: inline;
	width: 100%;
	text-align: center;
	font-size: 30px;
	font-family: 'PalameciaTitling-Regular';
	color: #97d2e7;
	position: relative;
	top: -15px;
}

.flexslider{
	float: left;
	display: inline;
	width: 100%;
	margin: 0;
	background: none;
	border: 0;
}

.flex-control-paging{
	display: none;
}

.flexslider .slides{
	margin-bottom: 10px;
}

.flexslider .slides > li{
	margin-right: 26px;
	position: relative;
}

.flexslider .slides > li:before{
	content: "";
	position: absolute;
	bottom: -10px;
	width: 139px;
	height: 10px;
	background: url(../images/box-left.png) 0 0 no-repeat;
	left: 5px;
}

.flexslider .slides > li:after{
	content: "";
	position: absolute;
	bottom: -10px;
	width: 139px;
	height: 10px;
	background: url(../images/box-right.png) 0 0 no-repeat;
	right: 5px;
}

.flexslider .slides > li img{
	border: 10px solid #eee8d1;
}

.custom-navigation a{
	position: absolute;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	z-index: 9;
	top: 50%;
	margin-top: -20px;
}

.custom-navigation a.flex-prev{
	border-right: 20px solid #246b90;
	left: -40px;
}

.custom-navigation a.flex-next{
	border-left: 20px solid #246b90;
	right: -40px;
}

.ninja{
	float: left;
	display: inline;
	width: 100%;
	margin-top: 40px;
	background-color: #113255;
	padding: 25px;
}

.ninja-left{
	float: left;
	display: inline;
	width: 625px;
	border-right: 2px solid #1a416a;
}

.ninja-left img{
	float: left;
	display: inline;
	width: 120px;
}

.ninja-left .ninja-left-info{
	padding: 0 60px 0 140px;
}

.ninja-left .ninja-left-info h4{
	color: #f04610;
	font-size: 16px;
	font-family: 'WorkSans-Black';
	text-transform: uppercase;
}

.ninja-left .ninja-left-info p{
	color: #44a4bc;
	line-height: 20px;
	margin-top: 10px;
}

.ninja-right{
	float: left;
	display: inline;
	padding: 0 40px 0 50px;
	width: 280px;
}

.ninja-right p{
	float: left;
	display: inline;
	width: 100%;
	color: #44a4bc;
	position: relative;
	line-height: 21px;
}

.ninja-right p:before{
	content: "";
	position: absolute;
	top: -4px;
	left: -38px;
	width: 28px;
	height: 20px;
	background: url(../images/img-phay.png) 0 0 no-repeat;
}

.ninja-right span{
	float: left;
	display: inline;
	width: 100%;
	color: #44a4bc;
	font-family: 'WorkSans-Light';
	text-transform: uppercase;
	margin-top: 10px;
}


/* ================ footer ================== */

footer{
	background-color: #f04610;
	margin-top: 50px;
	padding: 45px 0 20px;
}

.footer-top{
	float: left;
	display: inline;
	width: 100%;
}

.footer-top-social{
	float: left;
	display: inline;
	width: 180px;
	padding-left: 20px;
	padding-top: 15px;
}

.footer-top-social a{
	float: left;
	display: inline;
	margin-right: 30px;
}

.footer-top-social a:last-child{
	margin-right: 0;
}

.footer-top-signup{
	float: left;
	display: inline;
	width: 370px;
	border-left: 2px solid #f7941e;
	border-right: 2px solid #f7941e;
	padding: 0 35px 0 20px;
}

.footer-top-signup h4{
	float: left;
	display: inline;
	width: 100%;
	font-family: 'WorkSans-Bold';
	text-transform: uppercase;
	color: #fff;
}

.footer-top-signup p{
	float: left;
	display: inline;
	width: 100%;
	color: #ffc7a9;
	margin-top: 3px;
}

.footer-top-signup .signup{
	float: left;
	display: inline;
	width: 100%;
}

.footer-top-signup .signup fieldset{
	float: left;
	display: inline;
	width: 100%;
	position: relative;
	margin-top: 10px;
}

.footer-top-signup .signup fieldset input[type="text"]{
	float: left;
	display: inline;
	width: 100%;
	background-color: #f7941e;
	border: 0;
	height: 34px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	color: #352a1d;
	padding: 0 80px 0 10px;
}

.footer-top-signup .signup fieldset input[type="text"]::-webkit-input-placeholder {
   color: #352a1d;

}

.footer-top-signup .signup fieldset input[type="text"]:-moz-placeholder { /* Firefox 18- */
   color: #352a1d;  

}

.footer-top-signup .signup fieldset input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
   color: #352a1d;  
}

.footer-top-signup .signup fieldset input[type="text"]:-ms-input-placeholder {  
   color: #352a1d;  
}

.footer-top-signup .signup fieldset input[type="submit"]{
	position: absolute;
	top: 0;
	right: 0;
	width: 75px;
	height: 34px;
	line-height: 33px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	font-family: 'WorkSans-Bold';
	background-color: #1a416a;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.footer-top-info{
	float: left;
	display: inline;
	width: 420px;
	padding: 0 25px;
	color: #fff;
}

.footer-top-info h4{
	float: left;
	display: inline;
	width: 100%;
	text-transform: uppercase;
	font-family: 'WorkSans-Bold';
	margin-bottom: 10px;
}

.footer-top-info-left{
	float: left;
	display: inline;
	width: 50%;
	padding-right: 10px;
	color: #ffc7a9;
}

.footer-top-info-left p{
	float: left;
	display: inline;
	width: 100%;
	line-height: 19px;
}

.footer-top-info-right{
	float: left;
	display: inline;
	width: 50%;
	padding-left: 10px;
	color: #ffc7a9;
}

.footer-top-info-right p{
	float: left;
	display: inline;
	width: 100%;
	line-height: 18px;
}

.footer-top-info-right p.skype img{
	float: left;
	display: inline;
	margin-top: 5px;
	margin-right: 5px;
}

.footer-top-info-right p.skype span{
	float: left;
	display: inline;
	margin-top: 3px;
}

.footer-bottom{
	float: left;
	display: inline;
	width: 100%;
	margin-top: 50px;
}

.line.oragne{
	background: url(../images/line-organe.png) center 0 no-repeat;
}

.footer-bottom p{
	float: left;
	display: inline;
	width: 100%;
	color: #ffc7a9;
	font-size: 12px;
	text-align: center;
	margin-top: 20px;
}



@media only screen and (min-device-width: 768px) and (max-device-width: 1324px) {
	.custom-navigation a{
		display: none;
	}
}